.container {
    // border: 1px solid red;
}
.section-container {
    padding: 20px;
    // overflow: hidden;
    .config {
        display: block;
        height: 200px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #666;
    }
    .upload-btn {
        position: relative;
        cursor: pointer;
        font-size: 14px;
    }
    .upload {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
    }
    .inst {
        margin: 40px;
        cursor: pointer;
        font-size: 14px;
    }
}

.editor {
    border: 1px solid #ccc;
    width: 900px;
    height: 600px;
    border-radius: 4px;
    // box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.2);
    // overflow: hidden;
    margin: 0 auto;
}

.preview {
    display: block;
    margin: 0 auto;
}