.career {
  position: relative;
  min-height: 20vmin;
  // width: 500px;
  background-color: #fff;
  background-image: linear-gradient(to right, transparent 20%, #ccc 20%, transparent 20.1%);
  // border: 1px solid red;
  padding: 0 0 0 20%;
  .pic {
    width: 10vmin;
    height: 10vmin;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    left: 20%;
    bottom: 10%;
    transform: translate(-50%, 0);
    border-radius: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      &+.intro {
        transform: scale(1);
      }
    }
  }

  .intro {
    position: absolute;
    bottom: calc(10% + 5vmin);
    right: 80%;
    width: 100px;
    margin-right: 6vmin;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 0.5em;
    font-size: 14px;
    transform: scale(0);
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
    transform-origin: right bottom;
    &::after {
      content: '';
      position: absolute;
      bottom: 10px;
      right: -10px;
      width: 10px;
      height: 20px;
      background: linear-gradient(60deg, rgba(0,0,0,.5) 50%, transparent 50%, transparent)
    }
  }
}

.projects {
  padding: 40px 0;
  overflow: hidden;
  // border: 1px solid red;
  li {
    position: relative;
    display: inline-block;
    padding-left: 14vw;
    margin-bottom: 20px;
    // border: 1px solid blue;
    // border-top: 1px solid #ccc;
    // min-height: 180px;
    // width: 400px;
    // overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top: 20%;
      right: 2em;
      z-index: 0;
      height: 1px;
      width: 100vw;
      background-color: #ccc;
    }
    .paper {
      position: relative;
      z-index: 1;
      // float: left;
      // margin-top: -20px;
      // margin-right: -2em;
      // margin-bottom: 40px;
      padding: 1.5em 2em;
      // width: 300px;
      // min-height: 160px;
      // max-height: 320px;
      // display: inline-block;
      background: rgb(196, 230, 255);
      background:
        linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0) no-repeat 100% 0 / 2em 2em,
        linear-gradient(-135deg, transparent 1.45em, rgb(196, 230, 255) 0);
      box-shadow: -6px 10px 4px 2px #ccc;
      text-align: center;

      h4 {
        padding: 0 0 1em;
        line-height: 1;
        font-size: 16px;
      }

      img {
        max-width: 400px;
        max-height: 300px;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        // border: 1px solid red;
        // transform: scale(0.5);
      }
      p {
        color: #444;
        font-size: 14px;
      }
    }
  }
}