.section5 {
  background: #eee;
  height: 100vh;
  padding: 10vh;

  h3 {
    font-size: 5vmin;
    text-align: center;
    // background-color: #fff;
    width: 6em;
    margin: 0 auto;
    margin-bottom: 2em;
    text-shadow: -1px 1px 0px #fff, -3px 3px 0px #333;
}
}