.section4 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10vh;
    background-image:
        linear-gradient(45deg, #eee 25%, transparent 0),
        linear-gradient(45deg, transparent 75%, #eee 0),
        linear-gradient(45deg, #eee 25%, transparent 0),
        linear-gradient(45deg, transparent 75%, #eee 0);
    background-size: 60px 60px;
    background-position: 0px 0px, -30px 30px, 30px -30px, 0px 0px;
    background-attachment: fixed;
}
.section4 {
    h3 {
        font-size: 5vmin;
        text-align: center;
        // background-color: #fff;
        width: 4em;
        margin: 0 auto;
        margin-bottom: 2em;
        text-shadow: -1px 1px 0px #fff, -3px 3px 0px #333;
    }

    ul {
        position: relative;
        width: 80%;
        // height: 500px;
        margin: 0 auto;
        padding-top: 2vh;
        border-bottom: 4px solid #000;
        border-left: 4px solid #000;
        &::before {
            content: '> skills';
            position: absolute;
            top: -74px;
            left: -70px;
            transform: rotate(-90deg);
            font-size: 40px;
        }
        &::after {
            content: '> proficiency';
            position: absolute;
            bottom: -26px;
            right: -220px;
            // transform: rotate(-90deg);
            font-size: 40px;
        }
        li {
            // border: 1px solid blue;
            // width: 500px;
            height: 5vh;
            // text-align: center;
            line-height: 5vh;
            // float: left;
            // background-color: silver;
            margin-bottom: 1vh;
            padding-left: 1em;
            // box-shadow: -2px 10px 14px #000;
            color: #fff;
            font-size: 1.5vmin;
        }
    }
}