.wall {
    height: 10vh;
    background-color: silver;
    background-image:
        linear-gradient(26deg, #e5672373 23px, transparent 1px),
        linear-gradient(206deg, #e5672355 23px, transparent 1px),
        linear-gradient(26deg, #e5672373 23px, transparent 1px),
        linear-gradient(206deg, #e5672355 23px, transparent 1px);
    background-size: 58px 58px;
    background-position: 28px 28px, 23px 3px, -1px -1px, -6px 32px, 0px 0px;
    background-attachment: fixed;
}