* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    width: 100%;
    // overflow: hidden;
}
@import './home.scss';

@font-face {
    font-family: 'jinghong';
    src: url('/font/f4065161cafcf74486075c93559a58be3ce53c95.ttf');
}

.jinghong {
    font-family: 'jinghong';
}
